$color-purple: #855fb1;
$color-purple-hover: #b18bdd;
$color-pink: #d9b8ff;
$color-blue: #4d96a9;
$color-blue-hover: #71c0d4;
$color-light-blue: #8ee3f9;
$color-dark: #28283d;
$color-gray: #87879d;
$color-white: #ffffff;
